<div >
  <div>    
    <form  >      
      <table>
        <p>update works!</p>
        <tr >
          <td>id</td>
          <td>   
            <input type=" text" name="fullname" [value]="id"  >                      
          </td>
        </tr>
        <tr>
          <td>lastname</td>
          <td>
            <input type=" text" name="fullname"  [value]="lastname" >
          </td>
        </tr>
        <tr>
          <td>numberphone</td>
          <td>
            <input type="text " name="numberphone" [value]="numberphone" >
          </td>
        </tr>
        <tr>
          <td>gender</td>
          <td>
            <input type="" name="gender" [value]="gender" >
          </td>
        </tr>
        <tr>
          <td>addresss</td>
          <td>
          <textarea rows="2" cols="30" [value]="address" ></textarea>
          </td>
        </tr>
        <tr>
          <td><input type="submit" value="CẬP NHẬP"></td>
        </tr>
      </table>
    </form>
  </div>
</div>